@mixin field--wide-event-product-section--product--demo() {
  .product-item {
    //&:nth-child(even) {
    //  background: tomato;
    //}
    //
    //&:nth-child(odd) {
    //  background: forestgreen;
    //}

    .product-tile {
      position: absolute;
      top: 0;
      bottom: 0;

      &:hover {
        background: black;
      }
    }
  }
}