<div data-quickedit-field-id="node/6338/field_flash_sale_video/en/full"
     class="field field--name-field-flash-sale-video field--type-youtube field--label-hidden field__item">
    <figure class="youtube-container youtube-container--responsive">
        <iframe src="https://www.youtube.com/embed/WqsiI9y-1fk?wmode=opaque" width="100%" height="100%"
                id="youtube-field-player" class="youtube-field-player"
                title="Embedded video for TAG HEUER AUTAVIA 2017 FR" frameborder="0" allowfullscreen>
            <a href="https://www.youtube.com/embed/WqsiI9y-1fk?wmode=opaque">Embedded video for TAG HEUER AUTAVIA 2017
                FR</a>
        </iframe>
    </figure>
</div>