@import "../../../../global/color/src/variables";
@import "../../../../global/font/src/variables";
@import "../../../../global/index";
@import "../../../../global/typography/src/index";

.field--wide-event-event--body {
  $margin-padding-body: 40px;

  text-align: left;
  background: $white;

  h2 {
    text-align: left;
    color: $secondaryDark;
    margin: 0;

    em {
      color: $primaryRed;
      font-style: normal;
    }
  }

  p {
    margin: 0;
  }

  @media (min-width: 1024px) {
    .event-body-inner {
      padding: $margin-padding-body;
    }
  }
}
