@mixin PrimaryFont() {
  font-family: ProximaNova, Arial, sans-serif;
}

@mixin SecondaryFont() {
  font-family: FuturaLT, Arial, sans-serif;
}

@mixin NoSpaceFont() {
  font-family: NoSpace, Arial, sans-serif;
}