<div class="product-tile eqht">
    <a href="/en/watches/tag-heuer-carrera-32-mm-war1352-bd0779" class="product-tile-content"
       data-hover-background="http://tagheuer.tag-int.cross-systems.ch/sites/default/files/2016-10/Tag-Heuer-Carrera-header-6-Panamericana_product_tile.jpg">
        <span class="label-tag">Lorem</span>
        <div class="product-wrapper"><img class="lazy"
                                          src="http://tagheuer.tag-int.cross-systems.ch/sites/default/files/styles/product_tile_for_all_pages/public/2016-07/WAR1352-BD0779.png?itok=2Kb2XIl5"
                                          data-original="http://tagheuer.tag-int.cross-systems.ch/sites/default/files/styles/product_tile_for_all_pages/public/2016-07/WAR1352-BD0779.png?itok=2Kb2XIl5"
                                          alt="TAG Heuer Carrera 100 M - 32 mm Rose Gold &amp; Diamonds WAR1352.BD0779 TAG Heuer watch price"
                                          style="display: inline;"></div>
        <h4 class="watch-name">TAG HEUER CARRERA</h4>
        <ul>
            <li>100 M - ∅32 mm</li>
        </ul>
        <h4 data-getskuprice="WAR1352.BD0779" class="price-updated">CHF 3,600</h4>
        <span class="cta" role="button">DISCOVER<span class="sr-only"></span></span>
    </a>

    <a rel="nofollow" class="add-to-wishlist" data-id="WAR1352.BD0779" data-type="watch" data-source="drupal"
       data-text-on="ADD TO WISHLIST" data-text-off="REMOVE FROM WISHLIST" href="#" role="button">ADD TO WISHLIST</a>
</div>