@import "../../../../../node_modules/aos/src/sass/aos";
@import "../../../../global/index";
@import "../../../../global/font/src/index";
@import "../../../../global/font/src/mixins";
@import "../../../../global/color/src/variables";
@import "../../../../global/breakpoint/src/index";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";

@mixin field-article-section-image($layout) {
  @if ($layout == inverted) {
    @include make-xs-column(20);
    @include make-xs-column-offset(2);
    @include make-sm-column(10);
    @include make-sm-column-push(10);
    @include make-sm-column-offset(2);
  }
  @else {
    @include make-xs-column(20);
    @include make-xs-column-offset(2);
    @include make-sm-column(10);
    @include make-sm-column-offset(2);
  }
}

@mixin field-article-section-text($layout) {
  @if ($layout == inverted) {
    @include make-xs-column(20);
    @include make-xs-column-offset(2);
    @include make-sm-column(10);
    @include make-sm-column-pull(10);
    @include make-sm-column-offset(0);
  }
  @else {
    @include make-xs-column(20);
    @include make-xs-column-offset(2);
    @include make-sm-column(10);
    @include make-sm-column-offset(0);
  }
}

.wide-flash-sale--paragraph--flash-sale-description {
  @include make-row();

  .about-watch-img {
    &.regular {
      @include field-article-section-image(regular);
    }

    &.inverted {
      @include field-article-section-image(inverted);
    }

    img {
      min-width: 100%;
      width: 100% !important;
      height: auto !important;
      display: block;
    }

    @include breakpoint($screen-sm-min) {
      &.regular {
        padding-right: 40px;
      }
    }
  }

  .about-watch-txt {
    @include PrimaryFont;
    font-weight: lighter;
    font-size: 1.6em;
    color: $backgroundDark;

    padding-top: 40px;

    &.regular {
      @include field-article-section-text(regular);
    }

    &.inverted {
      @include field-article-section-text(inverted);
    }

    @include breakpoint($screen-sm-min) {
      &.inverted {
        padding-right: 40px;
      }
    }

    h3 {
      font-weight: bold;
      font-size: 2.4em;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 20px;
      line-height: 1em;
    }

    @include breakpoint($screen-sm-min) {
      padding-top: 0;
    }
  }

  @include clearfix;
}
