<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ demo.title }}</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="{{ demo.class }}">
<div class="page-node-type-flash-sale">
    <div id="main-header">
        <div class="region-icon-menu">
            <div class="icon-nav">
                <a href="#" class="icon-language">LANGUAGE SWITCHER</a>
            </div>
        </div>
        <div class="region-main-menu">
            <div class="main-nav">
                <a href="#" class="icon-language">MOBILE LANGUAGE SWITCHER</a>
            </div>
        </div>
    </div>
    <fieldset>
        <legend>Sapient form</legend>
        <form id="sapient-settings-form" method="POST" action="/sapient">
            <input type="text" id="edit-country">
            <input type="text" id="edit-language">
        </form>
    </fieldset>
    <fieldset>
        <legend>Flash sale form</legend>
        <form id="wide-flashsale-popin-form" method="POST" action="/flashsale">
            <select id="edit-country-popin">
                <option value="_none">SELECT A COUNTRY</option>
                <option value="ch">CH</option>
                <option value="uk">UK</option>
            </select>
            <select id="edit-language">
                <option value="1" data-langcode="fr">FR</option>
                <option value="2" data-langcode="en-gb">EN</option>
            </select>
            <input id="edit-sku" value="sku">
            <input id="edit-nodeid" value="nodeid">
            <input type="submit">SUBMIT</input>
        </form>
    </fieldset>
    {% for fixture in fixtures %}
        <div class="{{ demo.class }}--fixture">
            <h1>{{ fixture.label }}</h1>
            <div>
                {% include '../../../../node/wide-flash-sale-flash-sale/src/index.twig' with fixture %}
            </div>
        </div>
    {% endfor %}
</div>
<script src="../js/index.js"></script>
</body>
</html>
