@import "../../../../global/color/src/variables";
@import "../../../../global/index";

.field--wide-event-event--product-section {
  background-color: $backgroundLight;
  padding-top: $padding-top-xl/2;

  .block {
    padding-top: $padding-top-xl/2;
  }

  .section-links {
    text-align: center;
    margin: 0 auto;
    background: #1f1f1f;
    width: 100%;
    display: block;
    height: 60px;
    margin: 0;
    top: 0;
    text-transform: uppercase;

    &.sticky {
      -webkit-transition: top .3s ease-in-out;
      -moz-transition: top .3s ease-in-out;
      -o-transition: top .3s ease-in-out;
      -ms-transition: top .3s ease-in-out;
      transition: top .3s ease-in-out;
    }

    &.unsticky {
      background-color: transparent;
      z-index: inherit !important;
      position: relative !important;
      ul {
        li {
          margin: 0;
          display: inline-block;
          a:hover {
            color: #1f1f1f !important;
          }
        }
      }
    }

    ul {
      padding: 6px;
      margin: 0;
      list-style-type: none;
      li {
        margin: 0;
        display: inline-block;
        a {
          color: #6e6e6e;
          display: block;
          margin: 0;
          text-decoration: none;
          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    @media screen and (max-width: 78.125em) {
      ul {
        margin: 10px 0 0 0 !important;
      }
    }

    @media screen and (max-width: 64em) {
      display: none;
    }

    @media screen and (max-width: 100em) and (min-width: 78.125em) {
      ul {
        a {
          font-size: .78571em;
          padding: 15px 10px;
        }
      }
    }

    @media (min-width: 78.125em) {
      &.sticky {
        position: fixed;
        z-index: 99;
      }
    }
  }

  .menuItem {
    a {
      padding: 10px;
    }
  }

  .progress-bar-wrapper {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
  }

  .progress-bar {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #e5222f;
    -webkit-transition: width .65s;
    transition: width .65s;
    z-index: 1;
  }
}
