// Proxima Nova
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url('./assets/fonts/ProximaNova/311679_2_0.eot');
  src: url('./assets/fonts/ProximaNova/311679_2_0.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/ProximaNova/311679_2_0.woff2') format('woff2'), url('./assets/fonts/ProximaNova/311679_2_0.woff') format('woff'), url('./assets/fonts/ProximaNova/311679_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  src: url('./assets/fonts/ProximaNova/311679_5_0.eot');
  src: url('./assets/fonts/ProximaNova/311679_5_0.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/ProximaNova/311679_5_0.woff2') format('woff2'), url('./assets/fonts/ProximaNova/311679_5_0.woff') format('woff'), url('./assets/fonts/ProximaNova/311679_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url('./assets/fonts/ProximaNova/311679_8_0.eot');
  src: url('./assets/fonts/ProximaNova/311679_8_0.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/ProximaNova/311679_8_0.woff2') format('woff2'), url('./assets/fonts/ProximaNova/311679_8_0.woff') format('woff'), url('./assets/fonts/ProximaNova/311679_8_0.ttf') format('truetype');
}

// no space
@font-face {
  font-family: 'NoSpace';
  src: url("./assets/fonts/NoSpace/zerowidthspaces.ttf") format("truetype");
}