// Fonts
$proximaL: 'ProximaNova', Arial, sans-serif;
$proximaR: 'ProximaNova', Arial, sans-serif;
$proximaB: 'ProximaNova', Arial, sans-serif;

$font-big: 20px;
$font-medium: 16px;
$font-normal: 14px;
$font-small: 12px;