$white: #FFF;
$black: #000;

$primaryDark: #080808;
$secondaryDark: #1f1f1f;
$tertiaryDark: #e1e1e1;

$primaryLight: #f6f6f6;
$secondaryLight: #d5d5d5;
$tertiaryLight: #6e6e6e;
$backgroundLight: #f5f5f5;
$backgroundDark: #282828;

$primaryRed: #e5222f;

$text-color: #6e6e6e;
$text-color-02: #454545;