@import "../../../../global/grid/src/index";
@import "../../../../global/color/src/variables";

.node--wide-event-event {
  @include container-fixed();
  background-color: $white;
  position: relative;

  h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .field--wide-event-event--body {
    @include make-xs-column(22);
    @include make-xs-column-offset(1);

    @include make-md-column(16);
  }

  .field--wide-event-event--livestream {
    padding-top: 40px;
    text-align: center;
  }

  .field--wide-event-event--product-section {
    clear: both;
  }

  @media (min-width: 1024px) {
    .field--wide-event-event--body {
      border-right: 1px solid $tertiaryDark;
    }
  }
}
