@import "../default/index";

.wide-flash-sale--node--wide-flash-sale-flash-sale--demo {
  .slider-watch-events-info {
    background: tomato;
  }

  .slider-watch-image {
    background: rgba(1.0, 1.0, 1.0, 0.5);
  }

  .slider-watch-shop {
    background: yellowgreen;
  }
}
