@import "../../src/index";

.wide-flash-sale--paragraph--flash-sale-description--demo {
  padding: 20px 0;

  > div {
    @include container-fixed();

    > div {
      > h1 {
        margin: 0;
        margin-bottom: 40px;
        border-bottom: solid 3px #ccc;
      }
    }
  }

  .about-watch-img {
    background-color: #B24109;
  }

  .about-watch-txt {
    background-color: #187ec0;

    p {
      background-color: #736359;
    }
  }
}
